node_modules/
www/*
!www/.gitkeep
android/.gradle/
android/local.properties
android/**/build/
android/app/release/
android/app/*.jks
android/app/*.keystore
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
